<%= form_for(@lemur) do |f| %>
  <% if @lemur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lemur.errors.count, "error") %> prohibited this lemur from being saved:</h2>

      <ul>
      <% @lemur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
