<h1>Listing Lemurs</h1>

<table>
  <tr>
    <th>Species</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lemurs.each do |lemur| %>
  <tr>
    <td><strong><%= lemur.species %></strong></td>
    <td><%= lemur.description %></td>
    <td><%= link_to 'Show', lemur %></td>
    <td><%= link_to 'Edit', edit_lemur_path(lemur) %></td>
    <td><%= link_to 'Destroy', lemur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lemur', new_lemur_path %>
